@import "../../node_modules/kickstart-node/lib/sass/style";
@import "variables";
@import "../../node_modules/font-awesome/scss/font-awesome";

$headerHeight: 100px;

body{
   color: $primary-color;
}


.main-nav {
  @include navbar($layout: 'fluid');
  height: $headerHeight;
  margin-bottom: 0;
  background-color: transparent;
  z-index: 1;
  border: none;
  border-bottom: mix(black, $primary-color, 60%) solid;

  .fa, #title {
    line-height: 2.5rem;
    font-size: calc(0.4 * #{$headerHeight});
    text-transform: uppercase;
    font-weight: bolder;
    color: $primary-color;
  }

  #title {
    display: none;
    @media screen and (min-width: 480px){
      display: inline;
    }
  }

  nav {
    height: 100%;
    display: flex;

  }

  &__left, &__right {
    display: flex;
    height: 100%;

    > li {
      height: 100%;
      display: flex;
      align-items: center;
       > img {
         height: 100%;
       }
      > a {
        margin-top: 0;
        margin-bottom: 0;
        border-top: 0;
        border-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }

  // overwrite default hover behavior
  & nav > ul> li {
    &.menu-item{
      &:before{
        content: unset;
      }
    }
    & > a:not([role=button]):hover {
      background-color: transparent;
      border: none;
      .active {
        background-color: transparent;
        border: none;
      }
    }
  }
}



.main-nav {
  ul.main-nav {
    &__left {
      margin-right: auto;
    }

    &__right {
      margin-left: auto;

      li.menu-item {
        border: none;
        background-color: transparent;
        color: $primary-color;

        &:hover {
          color: mix(white, $primary-color, 20%);
          opacity: 0.6;

        }

      }

    &__left, &__right{

      }
    }
  }
}

main{
  // ensure main always lays begind the nav bar.
  position: absolute;
  z-index: -1;
  // move main upwards behind the nav
  margin-top: -$headerHeight;

  .landing {
    height: 100vh;
    &__wrapper {
      width: 100vw;
      height: 100%;
    }
  }
}

main{
  .landing{
    background-color: $primary-color;
    width: 100vw;
    height: 100vh;

    &__background-image{
      height: 100%;
      width: 100%;
      opacity: 0.8;
      background-image: url('../images/landing_hanoi.jpg');
      background-size: 100% 100%;
      filter: grayscale(30%)
    }
    &__wrapper{
      @include wrapper()
    }

    &__content{
      @include container();
      background-color: transparent;
      border: none;

      padding-top: $headerHeight;
      height: calc(100vh - #{$headerHeight});
      display: flex;
      justify-content: center;

      :first-child{
        margin-top: auto;
      }

      h1, h2{
        color: $primary-color;
      }
      h1{
        margin-bottom: 5vh;
      }

      div{
        @include row();
        display: flex;
        justify-content: center;
      }

      &_lower{
        margin-top: auto;
      }
    }
  }
}
