@import "../../node_modules/kickstart-node/lib/sass/style";
@import "variables";
@import "../../node_modules/font-awesome/scss/font-awesome";

$headerHeight: 100px;
$goldenRatio: 61.8%;

body{
  color: $primary-color;
}

h2{
  font-size: 1.8em;
}

@mixin my-row{
    @include row();
    display: flex;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.main-nav {
  @include navbar($fixed: true);
  height: $headerHeight;
  width: 100%;
  margin-bottom: 0;
  background-color: transparent;
  z-index: 1;
  border: none;
  box-shadow: 0 1px 2px  mix(black, $secondary-color, 10%);

  .fa, #title {
    line-height: 2.5rem;
    font-size: calc(0.4 * #{$headerHeight});
    text-transform: uppercase;
    font-weight: bolder;
    color: $primary-color;
  }

  #title {
    display: none;
    @media screen and (min-width: 480px){
      display: inline;
    }
  }

  nav {
    height: 100%;
    display: flex;

  }

  &__left, &__right {
    display: flex;
    height: 100%;

    > li {
      height: 100%;
      display: flex;
      align-items: center;
       > img {
         height: 100%;
       }
      > a {
        margin-top: 0;
        margin-bottom: 0;
        border-top: 0;
        border-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }

  // overite default hover behavior
  & nav > ul> li {
    &.menu-item{
      &:before{
        content: unset;
      }
    }
    & > a:not([role=button]):hover {
      background-color: transparent;
      border: none;
      .active {
        background-color: transparent;
        border: none;
      }
    }
  }
}



.main-nav {
  ul.main-nav {
    &__left {
      margin-right: auto;
    }

    &__right {
      margin-left: auto;

      li.menu-item {
        border: none;
        background-color: transparent;
        color: $primary-color;

        &:hover {
          color: mix(white, $primary-color, 20%);
          opacity: 0.6;

        }

      }

    &__left, &__right{

      }
    }
  }
}

.main{
  // ensure main always lays begind the nav bar.
  position: absolute;
  z-index: -1;

  width: 100%;

  .screen-fit{
    width: 100%;
    height: calc(100vh - #{$headerHeight});
    margin-top-top: $headerHeight;
  }

  &_content{
    &__container{
      @include wrapper();
      display: flex;
      justify-content: flex-start;
      flex-flow: column;
    }
  }
}

main{
  .landing{
    background-color: $primary-color;
    width: 100%;
    height: 100vh;

    &__background-image{
      height: 100%;
      width: 100%;
      opacity: 0.8;
      background-image: url('../images/landing_hanoi.jpg');
      background-size: 100% 100%;
      filter: grayscale(30%)
    }
    &__content{
      @include container();
      background-color: transparent;
      border: none;

      padding-top: $headerHeight;
      height: calc(100vh - #{$headerHeight});
      display: flex;
      justify-content: center;

      :first-child{
        margin-top: auto;
      }

      h1, h2{
        color: $primary-color;
      }
      h1{
        margin-bottom: 5vh;
      }

      div{
        @include my-row();
        justify-content: center;
      }

      &_lower{
        margin-top: auto;
      }
    }
  }

  .main_points{
    @include my-row();
    margin-top: 20vh;
    display: flex;
    justify-content: space-around;
    &__item{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: calc(#{$goldenRatio} / 2);
      height: 30.8vh;
      box-shadow: 0 4px 8px 0 $secondary-color, 0 6px 20px 0 $secondary-color;

      h2{
        color: $color-secondary-2-0;
        margin-top: 0.9em;
        margin-bottom: 0.9em;
      }

      p{
        width: calc(1 - (1 /  #{$goldenRatio}));
        margin-left: 15px;
        margin-right: 15px;
      }

      .fa{
        padding-right: 5px;
        padding-left: 15px;
      }
    }
  }
}

.main_content__teaser {
  @include my-row();
  height: $headerHeight;
  justify-content: center;
  margin-top: 15vh;
  h1 {
    margin-top: 15vh;
  }
}